@import url("https://fonts.googleapis.com/css?family=Arvo:400|Sulphur+Point:400|Raleway:500,400|Inter:400");

html {
    margin: 0;
    padding: 0;
    min-height: 100vw;
    scroll-behavior: smooth;
}

body {
    background-color: #141414;
    background-image: url("static/img/background.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    min-height: 100%;
}

.Navbar {
    background: rgba(20, 20, 20, 0.70);
    backdrop-filter: blur(7.5px);
    display: flex;
    padding-block: 16px;
    font-family: sans-serif;
    color: white;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    margin-bottom: 30px;
    z-index: 2;
    border-bottom: 1px solid rgba(173, 216, 230, 0.30);
}

#home, #programacao {
    cursor: pointer;
}

.logo {
    background-image: url("static/img/logo-grande.png");
    height: 41px;
    width: 153px;
    margin-left: 16px;
}

.inscricao {
    font-family: "Raleway";
    width: 175px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #ADD8E6 3px solid;
    color: #ffffff;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    box-shadow: inset 0 0 0 0 #54b3d6;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    margin-right: 16px;
    text-decoration: none;
    color: #ffffff
}
.inscricao:hover {
    box-shadow: inset 190px 0 0 0 #54b3d6;
    color: white;
}

.Navbar__Items {
    font-family: "Raleway", "Helvetica";
    display: flex;
    justify-content: space-evenly;
    width: 680px;
}

.Navbar__Link-toggle {
    display: none;
}

.frame {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.home {
    margin-inline: 50px;
    position: absolute;
    color: #ffffff;
    width: fit-content;
    height: 774px;
    padding-inline: 10%;
    border-radius: 25px;
    border: 1px solid rgba(173, 216, 230, 0.30);
    background: rgba(20, 20, 20, 0.18);
    backdrop-filter: blur(7.5px);
    margin-top: 1050px;
    display: flex;
    align-items: center;
}

.textos {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
}

.title-wrapper {
    padding: 0;
    margin-left: 40px;
    margin-right: -50px;
    display: flex;
    align-items: center;
}

.titulo {
    text-align: center;
    color: #FFF;
    font-family: "Arvo";
    font-size: 170px;
    font-weight: bold;
}

.text-wrapper {
    margin-top: 0;
    margin-right: 0;
}

.textzin {
    padding-right: 100px;
    color: #FFF;
    text-align: justify;
    font-family: "Sulphur Point";
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.1;
}

.botoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.inscricao-grande {
    color: #ffffff;
    display: flex;
    align-items: center;
    height: 98px;
    width: fit-content;
    padding-inline: 120px;
    flex-shrink: 0;
    border-radius: 10px;
    border: #ADD8E6 3px solid;
    margin-bottom: 10px;
    font-family: "Raleway";
    font-weight: 500;
    font-size: 40px;
    box-shadow: inset 0 0 0 0 #54b3d6;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    text-decoration: none;
    color: #ffffff
}
.inscricao-grande:hover {
    box-shadow: inset 700px 0 0 0 #add8e6;
    color: #141414;
}

.instagram {
    display: flex;
    align-items: center;
    height: 64px;
    width: fit-content;
    padding-inline: 195px;
    flex-shrink: 0;
    border-radius: 10px;
    font-size: 30px;
    font-family: "Raleway";
    font-weight: 500;
    box-shadow: inset 0 0 0 0 #54b3d6;
    background-image: linear-gradient(to right, #add8e6 50%, #515bd4 60%, #8134af 70%, #dd2a7b 80%, #feda77 90%, #f58529 100%);
    background-size: 300% auto;
    transition: color .5s ease-in-out, background .5s ease-in-out;
    text-decoration: none;
    color: #141414
}
 
.instagram:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.programacao {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    padding-inline: 50px;
    margin-top: 2800px;
}

.tabela1 {
    width: 100%;
}

.tabela-header {
    padding-block: 16px;
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    font-family: "Raleway", "Helvetica";
    border-radius: 15px 15px 0px 0px;
    border: 1px solid rgba(173, 216, 230, 0.30);
    background: rgba(173, 216, 230, 0.18);
    backdrop-filter: blur(7.5px);
    font-weight: 400;
}

.dia-head {
    text-align: center;
    color: #ffffff;
    font-size: 26px;
    font-family: "Raleway", "Helvetica";
    border-radius: 15px 15px 0px 0px;
    background: rgba(173, 216, 230, 0.18);
    backdrop-filter: blur(7.5px);
    font-weight: 400;
}

.dia1 {
    text-align: center;
    color: #ffffff;
    font-size: 24px;
    font-family: "Raleway", "Helvetica";
    background: rgba(20, 20, 20, 0.18);
    backdrop-filter: blur(7.5px);
}

.dia1-hora {
    border-bottom-left-radius: 15px;
}

.dia1-dia {
    border-bottom-right-radius: 15px;
}

.dia {
    text-align: center;
    color: #ffffff;
    font-size: 24px;
    font-family: "Raleway", "Helvetica";
    border-radius: 15px;
}

.dia td {
    background: rgba(20, 20, 20, 0.18);
    backdrop-filter: blur(7.5px);
}

.dia-horario {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.dia-evento {
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}
td {
    padding-block: 12px;
    border: 1px solid rgba(173, 216, 230, 0.30);
}

.participantes {
    position: absolute;
    margin-top: 4000px;
}

@media only screen and (max-width: 1440px) {

    .home {
        display: flex;
        align-items: center;
        height: 750px;
    }

    .titulo {
        font-size: 100px
    }

    .textzin {
        font-size: 20px
    }

    .inscricao-grande {
        padding-inline: 175px;
        height: 78px;
        font-size: 20px;
    }

    .instagram {
        font-size: 20px;
    }

    .tabela-header {
        width: 750px;
        font-size: 28px;
    }

    .dia-head {
        font-size: 24px
    }

    .dia {
        font-size: 22px;
    }

    .dia1 {
        font-size: 22px
    }

    .dia1-hora {
        padding-inline: 10px;
    }

    .dia1-evento {
        padding-inline: 10px;
    }

    .programacao {
        margin-top: 2650px;
    }

}

@media only screen and (max-width: 1200px) {

    .Navbar__Items,
    .Navbar {
        flex-direction: column;
    }

    .Navbar__Items {
        display: none;
    }

    .logo {
        position: absolute;
        align-self: flex-start;
        margin-left: 69px;
        margin-top: 2px;
    }

    .Navbar__ToggleShow {
        position: relative;
        display: flex;
        flex-direction: row;
        margin-top: 2%;
        justify-content: space-around;
        
    }

    .inscricao {
        position: absolute;
        align-self: flex-end;
    }

    .Navbar__Link-toggle {
        align-self: flex-start;
        display: flex;
        cursor: pointer;
        color: #ffffff;
        width: 35px;
        height: 35px;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        border: #add8e6 2px solid;
        margin-left: 16px;
    }

    .titulo {
        font-size: 80px;
    }

    .textzin {
        font-size: 20px
    }

    .home {
        height: 700px;
        display: flex;
        align-items: center;
        margin-bottom: 100px;
    }

    .programacao {
        align-items: center;
    }
}

@media only screen and (max-width: 985px) {
    .textzin {
        padding: 0;
    }
    .textos {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .tabela-header {
        font-size: 26px;
    }

    .dia-head {
        font-size: 22px
    }

    .dia {
        font-size: 20px;
    }

    .dia1 {
        font-size: 20px
    }

    .dia1-hora {
        padding-inline: 10px;
    }

    .dia1-evento {
        padding-inline: 10px;
    }

    .programacao {
        margin-top: 2500px;
    }
}

@media only screen and (max-width: 768px) {
    .Navbar__ToggleShow {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 150px;
    }

    .Navbar__Items{
        width: 100%;
    }

    .Navbar__Link {
        width: 300px;
        padding-bottom: 8px;
        border-bottom: #ADD8E6 2px solid;
    }
    
    .text-wrapper {
        text-align: center;
    }

    .textzin {
        padding: 0
    }

    .home {
        margin-inline: 30px;
    }

    .botoes {
        align-items: center;
    }

    .title-wrapper {
        margin: 0
    }

    .titulo {
        margin: 0
    }

    .tabela-header {
        font-size: 24px;
    }

    .dia-head {
        font-size: 18px
    }

    .dia {
        font-size: 16px;
    }

    .dia1 {
        font-size: 16px;
        
    }

    .dia1-hora {
        padding-inline: 10px;
    }

    .dia1-evento {
        padding-inline: 10px;
    }

    .programacao {
        margin-top: 2400px;
    }
}

@media only screen and (max-width: 700) {
    .home {
        padding-inline: 0;
    }
}

@media only screen and (max-width: 425px) {
    .Navbar__ToggleShow {
        margin-top: 2%;
    }

    .home {
        padding: 30px;
        margin-top: 1100px
    }

    .titulo {
        font-size: 60px;
    }

    .textzin {
        font-size: 17px;
    }

    .inscricao-grande {
        padding-inline: 30px;
    }

    .instagram {
        padding-inline: 50px
    }

    .logo {
        background-image: url("static/img/logo-pequena.png");
        height: 39px;
        width: 39px;
    }

    .inscricao {
        font-size: 16px;
        height: 35px;
        border-width: 2px;
    }

    .programacao {
        padding: 30px;
        margin-top: 2550px;
    }

    .tabela-header {
        font-size: 22px;
    }

    .dia-head {
        font-size: 14px
    }

    .dia {
        font-size: 12px;
    }

    .dia1 {
        font-size: 12px;
        
    }

    .dia1-hora {
        padding-inline: 10px;
    }

    .dia1-evento {
        padding-inline: 10px;
    }
}

@media only screen and (max-width: 390px) {
    .home {
        height: fit-content;
        margin-top: 850px;
    }

    .inscricao-grande {
        padding-inline: 25px;
        height: 65px;
    }

    .instagram {
        padding-inline: 25px;
        height: 40px;
        font-size: 16px;
    }

    .textzin {
        font-size: 16px;
    }

    .programacao {
        margin-top: 2200px;
    }
}

@media only screen and (max-width: 320px) {
    .logo {
        display: none;
    }

    .programacao {
        margin-top: 2340px;
    }
}